*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #23212B;
}

nav{
    box-sizing: border-box;
     align-items: center;
     display: flex;
     justify-content: space-between;
     background-color: #41414A;
     position: relative;
     top: 20px;
     width: 100%;
     height: 90px;
     padding: 20px;
     color: #A4A6AB;
     border-radius: 2rem 2rem 2rem 0  ;
 }
 nav a button{
     padding : 7px;
     background-color: blue;
     color: white;
     border-radius: 1rem;
     border : none;
 }
 .main-table{
    width: 100%;
    position: relative;
    top: 50px;
   display: flex;
   justify-content: center;
}
.main-table .table{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color:  #A4A6AB;;
    box-sizing: border-box;
    padding: 20px;
    
    border-radius: 2rem;
    
}
.table a{
    width: 100px;
}
ul li {
    background-color:#A4A6AB  !important;
    border: none !important;
    
}