*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #241E2B;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 350px;
    
    border-radius: 1rem 1rem 1rem 0;
    padding: 20px;
    color: white;
    background-color: #423F4A;
   
}
.form-container button {
    margin: 20px 0;
}