*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #23212B;
}

.container{ 
   
    position: relative;
    
    width: 90vw;
    line-height: 0;
    margin: auto;
    height: 100vh;
}
nav{
   box-sizing: border-box;
    align-items: center;
    display: flex;
    background-color: #41414A;
    position: relative;
    top: 20px;
    width: 100%;
    height: 90px;
    padding: 20px;
    color: #A4A6AB;
    border-radius: 2rem 2rem 2rem 0  ;
}

main{
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - 90px);
    width: 100%;
    
}
.container-menu{
    width: 100%;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    
}
.menu{
    background-color:#41414A;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 2rem 2rem 2rem 0;
}
.menu a{
    text-decoration: none;
   
}
.menu a button{
    background-color: blue;
    color: wheat;
    border: none;
    padding: 4px;
    border-radius: 1rem;
}
.container-menu img{
    width: 200px;
    height: 250px;
}