*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #23212B;
}

nav{
    margin: auto;
    box-sizing: border-box;
     align-items: center;
     display: flex;
     justify-content: space-between;
     background-color: #41414A;
     position: relative;
     top: 20px;
     width: 70%;
     height: 70px;
     padding: 20px;
     color: #A4A6AB;
     border-radius: 2rem 2rem 2rem 0  ;
     z-index: 1;
 }
 nav a button{
     padding : 7px;
     background-color: blue;
     color: white;
     border-radius: 1rem;
     border : none;
 }
 .main-section{
     top: 2rem;
     display: flex;
     z-index: 2;
     box-sizing: border-box;
     border-radius: 2rem;
     margin: auto;
     line-height: 0;
     position: relative;
     width: 60vw;
     min-height: 85vh;
     background-color:#A4A6AB; ;
    
 }
 .main-input{
     background-color: #41414A;
     box-sizing: border-box;
    
    right: 2%;
    align-self: center;
    width: 350px;
    height: 70%;
    position: absolute;
    
    border-radius: 1rem 1rem 1rem 0;
 }
 .main-input label {
     color: red;
     font-size: 2rem; 
     margin: 5px;
     margin-left: 0.5rem; 
     
 }
 .main-input *{
     color: white;
 }
 .main-input input{
     text-align: center;
     width: 80%;
     margin: 5rem 0;
     background-color: transparent;
     border: none;
     border-bottom: 2px solid white;
     font-size: 1.5rem;
    
     
 }
 .main-input input:focus{
     outline: none;
 }
 .main-input input::-webkit-outer-spin-button,
 .main-input input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 .main-input input[type=number] {
    -moz-appearance: textfield;
  }
 .title-input{
     display: flex;
     align-items: center;
     border-radius: 1rem 1rem 1rem 0;
    position: absolute;
    width: 200px;
    height: 50px;
    justify-content: center;
    border: 2px solid blue;
    top: -1rem;
    background-color:blue ;
 }
 .show-cost-container{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 99%;
     height: 200px;

     
 }


 .show-cost-main {
     font-size: 1rem;
     width: 45%;
     display: flex;
     align-items: flex-end;
     flex-direction: column;
 }
 .show-cost-main h2{
    font-size: 1.2rem;
 }
 .show-cost-title{
     width: 45%;
 }
 .show-cost-title h3{
     font-size: 1.5rem;
 }

 .main-order{
     
     left: 2%;
     align-self: center;
     position: relative;
     width: 50%;
     height: 70vh;
     
 }
#btn-submit{
    position: absolute;
    right: 0; 
    padding: 10px 30px;
    bottom: -10px;
}
.table * {
    border: none;
    
}



 

 
 